body {
  font-family: "Lora";
  margin: 0;
  padding: 0;
  height: 100%;
}

.name-container {
  & picture {
    position: relative;
  }
}

.blur_effect {
  backdrop-filter: blur(10px);
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  top: 25%;
  left: 32%;
  position: absolute;
}

.name-container picture:hover {
  img {
    height: 19.5rem;
    width: 40rem;
  }

  .blur_effect {
    display: none;
    transition: ease-in 2s;
  }
}

nav {
  z-index: 20;
  background-color: white;
  height: 5rem;
  position: sticky;
  top: 0;
  & ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  & li {
    margin-left: 1rem;
  }

  & ul li a {
    padding-right: 0.7rem;
    border-bottom: 0.2px solid transparent;
    background: linear-gradient(320deg, #feac5e, #c779d0, #4bc0c8);
    background-position: left  bottom;
    background-size: 0% 0.2rem; 
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out;
    text-decoration: none;
    color: black;


    &:hover {
        background-size: 100% 3px;
    }
  }
}

@media (min-width: 70rem) {
  nav {
    position: absolute;
    z-index: 10;
    height: 10%;
    background-color: white;
    left: 0;

    & ul {
      position: fixed;
      flex-direction: column;
      justify-content: start;
      margin-top: 1.5rem;
    }
  }

  main {
    margin-left: 10rem;
    flex: 1;
  }

  footer {
    margin-left: -10rem;
  }
}

.name-section {
  padding: 1.5rem 0.5rem;
  & h1 {
    line-height: 1;
    font-size: 2.5rem;
  }
}

.name-section h1 {
  display: inline-block;
  text-align: center;
  text-align: left;
}

.first-name,
.last-name {
  display: inline-block;
  transition: transform 0.3s ease;
}

.name-section h1:hover .first-name {
  transform: rotate(20deg);
}

.name-section h1:hover .last-name {
  transform: rotate(-20deg);
}

@media (min-width: 50rem) {
  .name-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    & picture {
      width: 25rem;
    }

    .name-section {
      position: relative;
      width: 20rem;
      & p {
        position: absolute;
        bottom: 1rem;
      }
    }
  }
}

@keyframes backgroundover {
  0% {
    background-color: #feac5e;
  }

  33% {
    background-color: #c779d0;
  }

  66% {
    background-color: #4bc0c8;
  }

  100% {
    background-color: #feac5e;
  }
}
.over {
  color: white;
  background-color: #59b8c8;
  animation: backgroundover 4s infinite;
  & h2 {
    font-size: 3rem;
    text-align: center;
  }

  & p {
    padding-right: 2rem;
    font-size: 0.75rem;
    margin-left: 2rem;
    padding-bottom: 1rem;
  }

  & span {
    display: none;
  }

  & p span {
    display: inline-block;
  }
}

@keyframes slideInOut {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (min-width: 50rem) {
  .over {
    background-color: #00a2e8;
    display: flex;
    justify-content: space-between;

    & h2 {
      display: none;
    }

    & .over-animation {
      & span {
        display: block;
        font-size: 7.5rem;
        margin-left: 1rem;
        line-height: 0.6;
        animation: slideInOut 3.5s linear infinite;
      }

      & span:nth-child(1) {
        animation-delay: 0s;
      }

      & span:nth-child(2) {
        animation-delay: -0.2s;
      }

      & span:nth-child(3) {
        animation-delay: -0.4s;
      }

      & span:nth-child(4) {
        animation-delay: -0.6s;
      }

      & span:nth-child(5) {
        animation-delay: -0.8s;
      }
    }

    & .information {
      width: 20rem;
      padding: 2rem;
      padding-left: 0;

      span {
        background: linear-gradient(
          to top,
          rgb(199, 185, 167) 50%,
          transparent 50%
        );

        &:hover {
          background: linear-gradient(
            to top,
            rgb(176, 244, 248) 55%,
            transparent 50%
          );
        }
      }
    }
  }
}

@keyframes draw-left-to-top {
  0% {
    width: 0.3rem;
    height: 0;
  }
  50% {
    width: 0.3rem;
    height: 50%;
  }

  100% {
    width: 0.3rem;
    height: 0;
  }
}

@keyframes draw-bottom-to-right {
  0% {
    width: 0;
  }
  50% {
    width: 25%;
  }

  100% {
    width: 0%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}


.skill-container {
  justify-content: space-between;
  width: 11rem;
  margin: 0 auto;
}

.skill {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  position: relative;

  & .animated-border {
    display: inline-block;
    position: relative;
    font-size: 40px;
    font-weight: bold;
    padding-left: 15px;
    margin-bottom: 1rem;
  }

  & .animated-border::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: black;
    animation: draw-left-to-top 5s infinite;
  }

  & .animated-border::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: black;
    animation: draw-bottom-to-right 5s 2.5s infinite;
  }

  & .block-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.3rem;
    align-items: center;
    

    .blocks {
      display: flex;
      gap: 0.2rem;
    }
  }   

  .block-container-html:hover {
    .html {
      animation: rotate 1s forwards;
    }
    .html:nth-child(1) {
      animation-delay: 0s;
    }
    .html:nth-child(2) {
      animation-delay: 0.3s;
    }
    .html:nth-child(3) {
      animation-delay: 0.6s;
    }
    .html:nth-child(4) {
      animation-delay: 0.9s;
    }
    .html:nth-child(5) {
      animation-delay: 1.2s;
    }
    .html:nth-child(6) {
      animation-delay: 1.5s;
    }
    .html:nth-child(7) {
      animation-delay: 1.8s;
    }
    .html:nth-child(8) {
      animation-delay: 2.1s;
    }

    .html:nth-child(9) {
      animation-delay: 2.4s;
    }
  }

  .block-container-css:hover {
    .css {
      animation: rotate 1s forwards;
    }
    .css:nth-child(1) {
      animation-delay: 0s;
    }
    .css:nth-child(2) {
      animation-delay: 0.3s;
    }
    .css:nth-child(3) {
      animation-delay: 0.6s;
    }
    .css:nth-child(4) {
      animation-delay: 0.9s;
    }
    .css:nth-child(5) {
      animation-delay: 1.2s;
    }
    .css:nth-child(6) {
      animation-delay: 1.5s;
    }
    .css:nth-child(7) {
      animation-delay: 1.8s;
    }
    .css:nth-child(8) {
      animation-delay: 2.1s;
    }

    .css:nth-child(9) {
      animation-delay: 2.4s;
    }
  }

  .block-container-javascript:hover {
    .javascript {
      animation: rotate 1s forwards;
    }
    .javascript:nth-child(1) {
      animation-delay: 0s;
    }
    .javascript:nth-child(2) {
      animation-delay: 0.3s;
    }
    .javascript:nth-child(3) {
      animation-delay: 0.6s;
    }
    .javascript:nth-child(4) {
      animation-delay: 0.9s;
    }
    .javascript:nth-child(5) {
      animation-delay: 1.2s;
    }
    .javascript:nth-child(6) {
      animation-delay: 1.5s;
    }
  }

  & .block {
    background-color: black;
    align-content: start;
    width: 10px;
    height: 10px;
  }
}

@media (min-width: 50rem) {
  .skill {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;

    & .animated-border {
      font-size: 4rem;
    }

    & .skill-container {
      display: flex;
      flex-direction: column;
      margin-left: 0.5rem;
      

      & .block-container {
        align-items: center;
        flex-direction: row;
        & p {
          padding-right: 1rem;
          text-align: left;
        }
      }
    }
  }
}

.grid-container {
  color: white;
  background-color: #5eb6c9;
  & h2 {
    font-size: 2rem;
  }

  & .grid {
    height: auto;
    display: grid;
    grid-template-areas:
      "img1 img1 img1"
      "img2 img2 img3"
      "portfolio portfolio img3"
      "portfolio portfolio img4"
      "img5 img5 img5"
      "img6 img6 img7"
      "img6 img6 img8"
      "img9 img9 img9";
    flex-grow: 1;
    padding-bottom: 2rem;
  }

  & .grid .grid-item {
    object-fit: cover;
    width: 100%;
    height: 100%;
    height: 8rem;
    transition: ease 0.3s;
    cursor: pointer;
    &:hover {
      filter: brightness(20%);
    }
  }
}

@media (min-width: 50rem) {

  .grid-container h2 {
    font-size: 5rem;
  }
  .grid-container .grid {
    grid-template-areas:
      "img1 img1 img2"
      "img3 portfolio img4"
      "img3 portfolio img5"
      "img6 img6 img5"
      "img7 img8 img8"
      "img9 . .";
  }
}

.grid {
  gap: 0.3rem;
  & .portfolio {
    grid-area: portfolio;
    width: 1px;
    font-size: 0.6rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }

  & .img1 {
    grid-area: img1;
  }
  & .img2 {
    grid-area: img2;
  }
  & .img3 {
    grid-area: img3;
  }
  & .img4 {
    grid-area: img4;
  }
  & .img5 {
    grid-area: img5;
  }
  & .img6 {
    grid-area: img6;
    height: 100%;
    object-fit: cover;
  }
  & .img7 {
    grid-area: img7;
  }
  & .img8 {
    grid-area: img8;
  }
  & .img9 {
    grid-area: img9;
  }
}

@media (min-width: 70rem) {
  .grid-container .grid {
    grid-template-areas:
      "img1 img1 img2 img3"
      "portfolio img4 img5 img3"
      "portfolio img6 img6 img7"
      "img8 img8 img9 img7";
  }
}

@keyframes rotatecontact {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.contact {
  position: relative;
  z-index: 1;
  margin-top: 0;
  margin-bottom: 2rem;
  margin-top: 1rem;
  & input {
    padding-left: 0.5rem;
  }
  & h2 {
    font-size: 3rem;
    line-height: 1;
    margin-left: 1rem;
    margin-right: 1rem;
    letter-spacing: 1rem;
    font-weight: 100;
  }

  & div {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  & button {
    margin-top: 1rem;
    background-color: black;
    height: 3rem;
    color: white;
    border: none;
    cursor: pointer;

    &:hover {
      animation: backgroundover 2s ease-in infinite;
    }
  }
}

.contact h2 span {
  display: inline-block;
  animation: rotatecontact 2s linear infinite;
}

@media (min-width: 50rem) {
  .contact {
    display: flex;

    & h2 {
      max-width: 50%;
    }

    & form {
      width: 80%;
    }
  }
}

footer {
  background-color: black;
  
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  & p {
    color: white;
  }
}
